.rule1 {
  color: red;
  /* comment */
}

@media screen {
  .rule2 {
    color: red
  }
  .rule3 {
    color: red !important;
    /* comment */
  }
  /* comment */
}

.color0 { color: #aff034; }
.color1 { color: rgb(100, 200, 10); }
.color2 { color: rgba(100, 200, 10, 0.5); }
.color3 { color: rgba(100, 200, 10, .5); }
.color4 { background-color: hsl(100, 20%, 30%); }
.color5 { background-color: hsla(100, 20%, 30%, 0.5); }
.color6 { border: 1px solid #aaa; }
.color7 { outline: 1px solid tomato; }
.color8 { border-color: Aqua; }
.color9 { outline-color: whitesmoke; }
.color12and12again { background: linear-gradient(90deg, purple 0, purple 100%) }
.color13 { color: #0000ff00; }
.color-false { background-image: url('icon-blue.png'), url('blue-icon.png'), url('blue_icon.png'), url('icon_blue.png'); }
.color-false { white-space: nowrap; }
.color-false { color: inherit; color: initial; color: auto; background: none; color: currentColor; color: transparent; }

.prefixes {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: -webkit-gradient(transparent, transparent);
  background: -moz-linear-gradient(transparent, transparent);
  background: -ms-linear-gradient(transparent, transparent);
  background: -o-linear-gradient(transparent, transparent);
  background: linear-gradient(transparent, transparent);
}

/**
 * Font-sizes
 */
.font-size0 { font-size: 16px; }
.font-size1 { font-size: small; }
.font-size2 { font-size: 1em; }
.font-size3 { font-size: calc(3vw + 1em); }
.font-size4 { font: 1.1em serif; }
.font-size5 { font: medium serif; }
.font-size6 { font: normal normal 1.2em serif; }
.font-size7 { font: 400 1.3em/1 serif; }
.font-false { font: inherit; font: initial; font: auto; }
.font-false { font-size: inherit; font-size: initial; font-size: auto; }

/**
 * Font-families
 * Note: there's a couple serif keywords above;
 */
.font-family0 { font-family: "Droid Sans", serif; }
.font-family1 { font-family: sans-serif; }
.font-family2 { font: large 'Noto Sans'; }
.font-family3 { font: normal normal 1em/1 'Source Sans Pro', serif; }
.font-family-spaces {
  font: 1em / 1 serif;
  font: 1em/ 1 serif;
  font: 1em /1 serif;
}
.font-family-keywords { font-family: inherit; font-family: initial; font-family: auto; }
.font-families-github {
  font-family:"Arial Black", "Arial Bold", Gadget, sans-serif;
  font-family:"Brush Script MT", cursive;
  font-family:monospace;
  font-family:Consolas, "Liberation Mono", Menlo, Courier, monospace;
  /* Some real life examples that caused bugs in the past: */
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font:11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font:normal normal 11px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
