.rule1 {
  margin: 0;
  /* comment */
}

@media screen {
  .rule2 {
    margin: 0;
  }
  .rule3 {
    margin: 0 !important;
    /* comment */
  }
  /* comment */
}

/* Custom properties and calc() and complex values */
:root {
  --my-custom-property: 12px;
  height: var(--my-custom-property);
  width: calc(100px + 2%);
  grid-column: 1/-1; /* Used to cause an Error */
}

/**
 * Browser hacks
 */
 .h4ck {
  color: blue\9;
}