/**
 * Top specificity selector
 */
.Foo > .Bar ~ .Baz [type="text"] + span:before #bazz #fizz #buzz #drank #drugs {
  margin: 0;
}

/**
 * Top identifier selector
 */
.a .b .c .d .e .f .g .h .i .j .k .l .m .n .o .p .q .r .s .t .u .v .w .x .y .z {
  margin: 0;
}

/**
 * Js-specific selectors
 */
.js-toggle-item,
.JSFOO,
.adjecent.js-selector,
#jsSelector,
[class*="js-selector"],
[id='js-selector'] {
  margin: 0;
}

/**
 * Universal selectors
 * There are more below at the Old IE Hacks
 */
*,
.foo *,
.foo * .bar,
[class*='foo'] {
  content: '*';
}

/**
 * ID selectors
 * There's more above at the JS selectors
 */
#foo,
#multipe #ids #counted #as #one,
[id='baz'],
[href='#crux'],
[href=#foo] {
  content: '#foo';
  color: #f00;
}

/**
 * Accessibility-related selectors
 * Examples from https://inclusive-components.design
 */
[role="tablist"],
[aria-selected],
[aria-selected]::after,
[role="menu"] a,
:checked ~ [role="menu"],
[role="menuitem"][aria-checked="true"]::before {}

/**
 * CSS Hacks
 * Contains universal selectors
 */
* html .selector {}

/* Don't report these ones (Issue #88) */
tbody:first-child {}

/* Don't report duplicates (Issue #161) */
* html .selector {}

/**
 * Keyframes (are not selectors) (Issue #107)
 */
@keyframes iAmNotSelector {
  from {
    margin: 0;
  }
  to {
    margin: auto;
  }
}
