.selector { property: value !ie; }
.selector { property: value\9; }
.selector { opacity: .9; }

/**
 * @keyframes have declarations too
 */
@keyframes countMeToo {
  0% {
    margin: 0;
  }
  to {
    margin: auto;
  }
}

/**
 * Prefixed
 */
.baz {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(red), to(blue));
}

/**
 * Browserhacks
 */
.h4ck { _color: blue; }
.h4ck { *zoom: 1 }
.h4ck { *zoom: 1 }