.regular-rule {
    color: red
}

/**
 * All bells and whistles
 */

@font-face {
    font-display: swap;
    font-family: monospace;
    font-stretch: condensed;
    font-style: italic;
    font-weight: bold;
    font-variant: no-common-ligatures proportional-nums;
    font-feature-settings: "liga" 0;
    font-variation-settings: "xhgt" 0.7;
    src: local('Input Mono');
    unicode-range: U+0025-00FF;
}

/**
 * Intentional duplicate to test uniqueness
 */
@font-face {
    src: url('https://example.com');
    font-family: 'Example Duplicate';
}

@font-face {
    src: url('https://example.com');
    font-family: 'Example Duplicate';
}

/**
 * These examples are taken from https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face#Descriptors
 */

@font-face {
    font-family: MyHelvetica;
    src: local("Helvetica Neue Bold"), local("HelveticaNeue-Bold"), url(MgOpenModernaBold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Bitstream Vera Serif Bold";
    src: url("https://mdn.mozillademos.org/files/2468/VeraSeBd.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"), url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
}