/* comment */
.rule1 {
  color: red;
  /* comment */
}

@media screen {
  /* comment */
  .rule2 {
    color: red
  }
  .rule3 {
    color: red !important;
    /* comment */
  }

  /* test recursion */
  @media print {
    .rule4 {
      color: red;
    }
  }
}

@media screen {
  @media print {
    @media (min-width: 1px) {
      @supports (display: grid) {
        .rule5 {
          color: red;
        }
      }
    }
  }
}
